
@{
    ViewBag.Title = "Current Matter";
}

<div class="panel panel-flat panel-collapsed">
    <div class="panel-heading">
        <h3>
            Current Matter
        </h3>
        <div class="heading-elements">
            <a class="pull-left-sm btn btn-sm bg-blue panel-filter">
                <i class="fa fa-filter"></i> Filters
            </a>
            <ul class="icons-list hide">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div id="search_filter_grid_currentmatter" class="search-filter">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Client Matter</span>
                            @Html.TextBox("Client_Matter", "", new { @class = "form-control" })                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Consultant</span>
                           @Html.DropDownList("ConsultantIds", new SelectList(new List<string>()), new { @class = "form-control", @data_url = ViewBag.ApiUrl + "api/common/common/getallconsultant", @data_placeholder = "Select Consultant", @data_keyboard = "false", @multiple = "multiple" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Status</span>
                            @Html.DropDownList("Status",
                                      new List<SelectListItem>
                                      {
                                                new SelectListItem { Text="All", Value="", Selected=true},
                                                new SelectListItem { Text="Active", Value="Active"},
                                                new SelectListItem { Text="Pending", Value="Pending"},
                                                new SelectListItem { Text="Completed", Value="Completed"}
                                      }, new { @class = "form-control", @data_keyboard = "false" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>            

            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Work Rate</span>
                            @Html.TextBox("WorkRateRateType", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Work Hours</span>
                            @Html.TextBox("WorkHours", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Cost(inc Sub)</span>
                            @Html.TextBox("CheckCost_inclSub", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">                   
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Cost(exc Sub)</span>
                            @Html.TextBox("CheckCost_exclSub", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Charge(exc Sub)</span>
                            @Html.TextBox("TotalCharge_exclSub", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button id="btnsearch" type="button" class="btn bg-teal btn-sm">Search</button>
                            <button id="btnreset" type="button" class="btn btn-warning btn-sm">Clear Filters</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="panel panel-flat">
    <div class="panel-heading">
        <div class="col-md-9">
        </div>
        <div class="heading-elements text-right col-md-3">

            <ul class="icons-list pull-right">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="mattergrid" data-sort-name="Client_Matter" data-sort-order="asc"
                   data-toggle="table"
                   data-url="@(ViewBag.ApiUrl + "api/all/matter/getcurrentmatterdata")"
                   data-queryparams="getSearchParam"
                   data-searchselector="#search_filter_grid_currentmatter"
                   data-pagination="true" class="table"
                   cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th data-field="Client_Matter" data-sortable="true">Client-Matter</th>
                        <th data-field="AspNetUsers" data-sortable="false" data-formatter="consultantlist">Consultant</th>
                        <th data-field="Status" data-sortable="true">Status</th>
                        <th data-field="WorkRateRateType" data-sortable="true">Work Rate</th>
                        <th data-field="WorkHours" data-sortable="true">Work Hours</th>
                        <th data-field="CheckCost_inclSub" data-sortable="true">Cost(inc Sub)</th>
                        <th data-field="CheckCost_exclSub" data-sortable="true">Cost(exc Sub)</th>
                        <th data-field="TotalCharge_exclSub" data-sortable="true">Charge(exc Sub)</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    </div>

    @section scripts{
        <script type="text/javascript">
            function consultantlist(value) {
                var namelist = "";
                $(value).each(function (i, item) {
                    if (namelist != "") namelist += ", ";
                    namelist += item.FullName;
                });
                return namelist;
            }
        </script>
    }
