@{
    ViewBag.Title = "Manage Matters";
    var areaoflaw = ViewBag.AreaOfLists as List<string>;
}
<div class="panel panel-flat panel-collapsed">
    <div class="panel-heading">
        <h5 class="panel-title">Matters</h5>
        <div class="heading-elements">
            <a href="@Url.Action("Create")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#popupmodals" data-success="popupsuccess" class="pull-left-sm btn btn-default">
                <i class="glyphicon glyphicon-plus-sign"></i>
                &nbsp;Matters
            </a>
            <a class="pull-left-sm btn btn-sm bg-blue panel-filter">
                <i class="fa fa-filter"></i> Filters
            </a>
            <ul class="icons-list hide">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div id="serach_filter_matter" class="search-filter">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Matter</span>
                            @Html.TextBox("MatterName", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Clients</span>
                            @Html.DropDownList("ClientId", new SelectList(new List<string>()), new { @class = "form-control", @data_url = ViewBag.ApiUrl + "api/common/common/getallclient", @data_default = "All", @data_keyboard = "false" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Work Rate</span>
                            @Html.DropDownList("WorkRateId", new SelectList(new List<string>()), new { @class = "form-control", @data_url = ViewBag.ApiUrl + "api/common/common/getallworkrate", @data_default = "All", @data_keyboard = "false" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Area Of Law</span>
                            @Html.DropDownList("AreaofLaw", new SelectList(areaoflaw), "All",new { @class = "form-control", @data_keyboard = "false",@data_default="All" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Consultant</span>
                            @Html.DropDownList("ConsultantIds", new SelectList(new List<string>()), new { @class = "form-control", @data_url = ViewBag.ApiUrl + "api/common/common/getallconsultant", @data_placeholder = "Select Consultant", @data_keyboard = "false", @multiple = "multiple", @data_blank = "true" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">User Status</span>
                            @Html.DropDownList("Status",
                                      new List<SelectListItem>
                                      {
                                                new SelectListItem { Text="All", Value="", Selected=true},
                                                new SelectListItem { Text="Active", Value="Active"},
                                                new SelectListItem { Text="InActive", Value="InActive"},
                                                new SelectListItem { Text="Pending", Value="Pending"}
                                      }, new { @class = "form-control", @data_keyboard = "false" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <button id="btnsearch" type="button" class="btn bg-teal btn-sm">Search</button>
                    <button id="btnreset" type="button" class="btn btn-warning btn-sm">Clear Filters</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<div class="panel panel-flat">
    <div class="panel-heading">
        <div class="col-md-9">
            <h3>
                Current Matters
            </h3>
        </div>
        <div class="heading-elements text-right col-md-3">

        </div>
        <div class="clearfix"></div>
    </div>

    <div class="panel-body">
            <div class="table-responsive">
                <table id="mattergrid" data-sort-name="FirstName" data-sort-order="asc"
                       data-toggle="table"
                       data-url="@(ViewBag.ApiUrl + "api/all/matter/getall")"
                       data-queryparams="getSearchParam"
                       data-searchselector="#serach_filter_matter"
                       data-pagination="true" class="table"
                       cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th data-field="MatterName" data-sortable="true">Matter</th>
                            <th data-field="Date" data-sortable="true" data-formatter="dateformatter">Date</th>
                            <th data-field="ClientFullName" data-sortable="true">Client</th>
                            <th data-field="AreaofLaw" data-sortable="true">Area of Law</th>
                            <th data-field="AspNetUsers" data-sortable="true" data-formatter="consultantlist">Consultant</th>
                            <th data-field="WorkRateRateType" data-sortable="true">Work Rate</th>
                            <th data-field="Box" data-sortable="true">Box</th>
                            <th data-field="Status" data-sortable="true">Status</th>
                            <th data-url="All/Matters/Edit" data-align="center" data-width="5%" data-field="Id" data-formatter="tbl_Edit_Popup">Edit</th>
                        </tr>
                    </thead>
                </table>
            </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnsearch2').on('click', function () {
                if ($.trim($("#SearchValue").val()) == "") {
                    AlertNotify("Validations!", "Please enter search text", "bg-warning")
                    return;
                }
                if (typeof $('#mattergrid').attr('data-toggle') === 'undefined') {
                    $('#mattergrid').attr('data-toggle', 'table');
                    BindBtTable('body');
                } else {
                    $('#serach_filter_matter #btnsearch').click();
                }
                $('#mattergrid').removeClass('hide');
            });
        });
        function consultantlist(value) {
            var namelist = "";
            $(value).each(function (i, item) {
                if (namelist != "") namelist += ", ";
                namelist += item.FullName;
            });
            return namelist;
        }
    </script>
}