@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navbar{
    @RenderSection("topnavbar", false)
}
@section sidebar{
    <div class="sidebar sidebar-main">
        <div class="sidebar-content">
            @Html.Partial("_UserState")
            <div class="sidebar-category sidebar-category-visible">
                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion">
                        <!-- Main -->
                        <li>
                            <a href="@Url.Action("Index", "Home", new { Area = "SalesTeam" })"><i class="icon-home4"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("GxSpinning", "TrainingForm", new { Area = "Common" })"><i class="fa fa-calendar"></i> Gx/Spinning</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Invoices", new { Area = "Common" })"><i class="icon-calculator"></i> <span>Invoices</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
@RenderBody()
@section css{
    @RenderSection("styles", required: false)
}
@section js{
    @RenderSection("scripts", required: false)
}