@model _360LawGroup.CostOfSalesBilling.Models.ClientViewModel
<div id="ShowClientModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="min-width:85%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="kn-title">Client Details</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>            

            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.Label("Client ID", new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.Id</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Company, new { @class = "control-label text-bold", @id = "para1" })
                            </div>

                            <span>@Model.Company</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.FullName, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.FullName</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.Email</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.JobTitle, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.JobTitle</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.BusinessPhone, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.BusinessPhone</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.FaxNumber, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.FaxNumber</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.MobileNumber, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.MobileNumber</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Address, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.Address</span>
                        </div>


                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.ContractedCountries, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.ContractedCountries</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.ContractRenewalDate, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@(Model.ContractRenewalDate?.ToString("dd-MM-yyyy"))</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Notes, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.Notes</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Attechments, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.Attechments</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.MonthlySubscription, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.MonthlySubscription</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.PaymentMonths, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>@Model.PaymentMonths</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.MemberChargeRate, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>£@Model.MemberChargeRate</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.PrivateClientChargeRate, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>£@Model.PrivateClientChargeRate</span>
                        </div>


                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.RegulatedChargeRate, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>£@Model.RegulatedChargeRate</span>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.LitigationChargeRate, new { @class = "control-label text-bold", @id = "para1" })
                            </div>
                            <span>£@Model.LitigationChargeRate</span>
                        </div>

                    </div>
                </div>


            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        ShowModal("#ShowClientModal", function () {
        });
    });
</script>
<style>
    #para1 {
        background-color: #f2f2f2;
        font-weight: 700;
        min-width: 186px;
        max-width: 186px;
        font-size: 14px;
        padding:4px;
    }
</style>


