@model   SetPasswordBindingModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_OutsideLayout.cshtml";
}
<div class="panel panel-body login-form">
    <div class="text-center">
        <img src="~/assets/images/logo/hf.png" />
        <h5 class="content-group-lg">Reset <small class="display-block"> your Password.</small></h5>

        @using (Ajax.BeginForm("", "", null,
            new AjaxOptions
            {
                HttpMethod = "POST",
                Url = ViewBag.ApiUrl + "account/resetpassword",
                OnSuccess = "SuccessResetPassword",
                OnFailure = "Failed"

            }, new { }
            ))
        {
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.UserId)
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter new password" })
                @Html.ValidationMessageFor(m => m.NewPassword)
                <div class="form-control-feedback">
                    <i class="icon-lock text-muted"></i>
                </div>
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-enter new password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                <div class="form-control-feedback">
                    <i class="icon-lock text-muted"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p><small>Note: Passwords must have at least one non letter or digit character, must have at least one lowercase ('a'-'z') and must have at least one uppercase ('A'-'Z').</small></p>
                </div>
            </div>
            <div class="text-center">
                <button type="button" onclick="GoToUrl('Account/Login')" class="btn bg-slate pull-left">Back</button>
                <button type="submit" class="btn bg-blue pull-right">Reset</button>
            </div>
        }
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function() {
            $("#Code").val("@((((string) ViewBag.ConfirmCode)??string.Empty).Replace(" ", "+"))");
            $("#UserId").val("@ViewBag.ConfirmUserId");
        });

        function SuccessResetPassword(data) {
            if (isSuccess(data)) {
                bootbox.alert({ title: "Success", message: data.Messages });
            }
        }

    </script>
}